@font-face {
  font-family: "Pretendard-R";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

#gen_Aion_root * {
  font-family: Pretendard-R !important;
}

#gen_Aion_root p {
  margin: 0;
}

.ant-skeleton .ant-skeleton-header .ant-skeleton-avatar-lg {
  width: 25px !important;
  height: 25px !important;
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  margin-top: 5px;
}
