@font-face {
  font-family: "Pretendard-R";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

#gen_AIon_root * {
  font-family: Pretendard-R sans-serif !important;
}

#gen_AIon_root p {
  margin: 0;
}

#gen_AIon_root a {
  color: #4b89d4;
}

#gen_AIon_root table {
  width: 100%;
  border: 1px solid #444444;
  margin : 12px 0;
}

#gen_AIon_root th, td {
  border: 1px solid #444444;
  padding: 4px;
  min-width: 40px;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(460px);
  }
}

.skeleton-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

.react-datepicker-popper {
  z-index: 2 !important;
}

.react-datepicker__header{
  background-color: transparent !important;
  border: none !important;
}

.react-datepicker__input-container input {
  outline: none !important;
  border: none !important;
  border-radius: 2px !important;
  width: 100px !important;
}