@font-face {
  font-family: "Pretendard-R";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

#gen_Aion_root * {
  font-family: Pretendard-R !important;
}

#gen_Aion_root p {
  margin: 0;
}

.ant-skeleton .ant-skeleton-header .ant-skeleton-avatar-lg {
  width: 25px !important;
  height: 25px !important;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.3) 37%,
    rgba(255, 255, 255, 0.2) 63%
  ); */
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  margin-top: 5px;
}

.ant-skeleton-with-avatar .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  margin-block-start: 10px !important;
}

/* Skeleton Loader의 배경을 설정하고 애니메이션 적용 */
.ant-skeleton.ant-skeleton-active .ant-skeleton-title,
.ant-skeleton.ant-skeleton-active .ant-skeleton-paragraph > li,
.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar,
.ant-skeleton.ant-skeleton-active .ant-skeleton-button,
.ant-skeleton.ant-skeleton-active .ant-skeleton-input,
.ant-skeleton.ant-skeleton-active .ant-skeleton-image {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.3) 37%,
    rgba(255, 255, 255, 0.2) 63%
  );
  background-size: 400% 100%;
  background-position: -50% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  }
  100% {
    background-position: 100% 0, 0 0, 120px 0, 120px 40px, 120px 80px, 120px 120px;
  }
}

.ant-tooltip {
  z-index: 10000 !important;
}

.ant-tooltip .ant-tooltip-inner {
  background-color: #f5f5f5 !important;
  color: #1e1f20 !important;
  border-radius: 2px !important;
  padding: 0;
}
